---
import { API_URL } from 'astro:env/server'
import BaseLayout from '@layouts/BaseLayout.astro'

const { postid } = Astro.params

const postResponse = await fetch(`${API_URL}/posts/${postid}`)
const post = await postResponse.json()
---

<BaseLayout>
  <a href='/'>back</a>
  <div>{post.title}</div>
</BaseLayout>
