---
import AlbumsList from '@components/AlbumsList.astro'
import PostsList from '@components/PostsList.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout>
  <div class='flex'>
    <div class='w-1/2'>
      <div class='font-bold'>Posts</div>
      <PostsList />
    </div>
    <div class='w-1/2'>
      <div class='font-bold'>Albums</div>
      <AlbumsList />
    </div>
  </div>
</BaseLayout>
