---
import ApiPosts from '@components/ApiPosts.astro'
import BaseLayout from '@layouts/BaseLayout.astro'

const user = Astro.locals.user

if (!user) {
  return Astro.redirect('/login')
}
---

<BaseLayout>
  <div>
    <div>Hello {user.email}</div>
    <ApiPosts />
  </div>
</BaseLayout>
