---
import BaseLayout from '@layouts/BaseLayout.astro'

const user = Astro.locals.user

if (!user) {
  return Astro.redirect('/login')
}
---

<BaseLayout>
  <div>
    {user ? (
      <div>Hello {user.email}</div>
    ) : (
      <div>Anonym</div>
    )}
  </div>
</BaseLayout>
