---
const currentUser = Astro.locals.user
---

<header>
  <div class='flex items-center justify-between bg-gray-300'>
    <div><a href='/'>Manablox</a></div>
    <div><a href='/test'>GraphQL Test</a></div>
    <div>
      {currentUser ? (
        <a href='/logout'>Logout</a>
      ) : (
        <a href='/login'>Login</a>
      )}
    </div>
  </div>
</header>
