---
import redberry from '@lib/redberry'

const currentUser = Astro.locals.user

await redberry.initialFetch()

const headerMenu = redberry.getMenu('header-menu')



---

<header>
  <nav>
    <ul>
      {headerMenu && headerMenu.children.map((item) => (
        <li>
          <a href={item.permalinks && item.permalinks[0] ? item.permalinks[0].content : ''}>{item.content.title[0].content}</a>
        </li>
      ))}
    </ul>
  </nav>
</header>
