---
import redberryApi from '@lib/redberry-graphql'

const currentUser = Astro.locals.user

const menus = await redberryApi.getMenus(['header-menu'])

console.log(menus)
// console.log(menu[0].children[0])

---

<header>
  <nav>
    <ul>
      {menus[0].children.map((item) => (
        <li>
          <a href={item.permalinks && item.permalinks[0] ? item.permalinks[0].content : ''}>{item.content.title[0].content}</a>
        </li>
      ))}
    </ul>
  </nav>
</header>
