---
import { ViewTransitions } from 'astro:transitions'
import PageFooter from '@components/PageFooter.astro'
import PageHeader from '@components/PageHeader.astro'
---

<html>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <ViewTransitions />
  </head>
  <body>
    <PageHeader />
    <slot />
    <PageFooter />
  </body>
</html>
